* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation */

.header {
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    list-style: none;
    margin-right: 100px;
}

.nav__item:nth-last-of-type(1) {
    margin-right: 0;
}

.nav__link {
    color: #021718;
    text-decoration: none;
}

.search-box {
    display: none;
}

.main {
    background: #F5A05C url('/convert-a-figma-design-to-a-real-website/assets/img/bg-shape.svg');
    height: calc(100vh - 72px);
    background-repeat: no-repeat;
    background-position: right;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content h1 {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero__content p {
    font-size: 24px;
    line-height: 42px;
    width: 418px;
    margin-bottom: 50px;
}

.hero__content a {
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFA;
    text-decoration: none;
    background: #01847F;
    padding: 15px 40px;
    border-radius: 8px;
    display: inline-block;
    transition: all 300ms ease;
}

.hero__content a:hover {
    transform: translateY(-8px);
}

/* Social Icons */

.hero__social {
    display: flex;
    align-items: center;
}

.hero__social a {
    margin-right: 24px;
}

/* Hero Image */

.hero__image img {
    position: relative;
    z-index: 100;
    transition: all 300ms ease;
    margin-top: 35px;
}

.hero__image img:hover {
    transform: rotate(-6deg);
}

.hero__image .photo-bg {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 817px;
    top: 97px;
    background: #44A1A0;
    transform: rotate(-6deg);
    margin-top: 35px;
}